<launch>

    <!-- Static transform from left camera to LIDAR -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="zed_left_camera_optical_frame_to_velodyne"
        args="5.214154202176700392e-02 -1.846812214940576902e-01 -4.561479952008089256e-02 -3.046857448372968236e+00 -1.631619169438448314e+00 -1.657808369943630566e+00 zed_left_camera_optical_frame velodyne"/>

    <!-- Custom node to publish dynamic transform from odom to base_link -->
    <node pkg="rtabmap_example" type="openvslam_odom_to_base_link_with_drift.py" name="openvslam_odom_to_base_link_with_drift" output="screen"/>

    <!-- Rtabmap mapping -->
    <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" ns="rtabmap" output="screen" args="--delete_db_on_start">
        <remap from="odom" to="/OpenVSLAM/odom_base_link_with_drift"/>

        <remap from="left/image_rect" to="/zed_node/left/image_rect_color"/>
        <remap from="left/camera_info" to="/zed_node/left/camera_info"/>
        <remap from="right/image_rect" to="/zed_node/right/image_rect_color"/>
        <remap from="right/camera_info" to="/zed_node/right/camera_info"/>
        
        <remap from="scan_cloud" to="/velodyne_points"/>
        
        <remap from="rgb/image" to="/zed_node/left/image_rect_color"/>
        <remap from="rgb/camera_info" to="/zed_node/left/camera_info"/>
        <remap from="depth/image" to="/zed_node/depth/depth_registered"/>

        <param name="subscribe_stereo" value="false"/>
        <param name="subscribe_depth" value="true"/>
        <param name="subscribe_rgbd" value="false"/>
        <param name="subscribe_scan" value="false"/>
        <param name="subscribe_scan_cloud" value="true"/>
        
        <param name="approx_sync" value="true"/>
        <param name="queue_size" value="10"/>
        
        <param name="Rtabmap/DetectionRate" value="100"/>
        <param name="Grid/RayTracing" value="true"/>
        <param name="Grid/FromDepth" value="false"/>
    </node>

</launch>

