<launch>

    <!-- Arguments -->
    
    <!-- load_db - if load database -->
    <arg name="load_db" default="false"/>
    <arg if="$(arg load_db)" name="rtabmap_args" value=""/>
    <arg unless="$(arg load_db)" name="rtabmap_args" value="--delete_db_on_start"/>
    
    <!-- db_path - path to database -->
    <arg name="db_path" default="~/.ros/rtabmap.db"/>
    
    <!-- odom - odometry to use -->
    <arg name="odom" default="fused"/>
    <node if="$(eval odom == 'fused')" pkg="ros_utils" type="publish_odometry_transforms.py" name="publish_odometry_transforms" output="screen"
        args="--odom-topic /fused_odom"/>

    <arg if="$(eval odom == 'rtabmap')" name="odom_topic" value="odom"/>
    <arg if="$(eval odom == 'fused')" name="odom_topic" value="/fused_odom"/>
    <arg if="$(eval odom == 'lol')" name="odom_topic" value="/lol_odom"/>
    
    <!-- local - localization mode, otherwise mapping mode -->
    <arg name="local" default="false"/>
    
    <!-- data to read -->
    <arg name="rgb" default="true"/>
    <arg name="depth" default="true"/>
    <arg name="stereo" default="false"/>

    <!-- Rtabmap -->
    <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" ns="rtabmap" output="screen" args="$(arg rtabmap_args)">
        <!-- remap топиков для чтения данных -->
        <remap from="odom" to="$(arg odom_topic)"/>

        <remap from="left/image_rect" to="/zed_node/left/image_rect_color"/>
        <remap from="left/camera_info" to="/zed_node/left/camera_info"/>
        <remap from="right/image_rect" to="/zed_node/right/image_rect_color"/>
        <remap from="right/camera_info" to="/zed_node/right/camera_info"/>
        
        <remap from="scan_cloud" to="/velodyne_points"/>
        
        <remap from="rgb/image" to="/zed_node/left/image_rect_color"/>
        <remap from="rgb/camera_info" to="/zed_node/left/camera_info"/>
        <param name="rgb/image_transport" type="string" value="compressed"/>
        <remap from="depth/image" to="/zed_node/depth/depth_registered"/>

        <!-- Данные, на которые подписывается rtabmap -->
        <param name="subscribe_rgb" value="$(arg rgb)"/>
        <param name="subscribe_stereo" value="$(arg stereo)"/>
        <param name="subscribe_depth" value="$(arg depth)"/>
        <param name="subscribe_rgbd" value="false"/>
        <param name="subscribe_scan" value="false"/>
        <param name="subscribe_scan_cloud" value="true"/>
        
        <!-- Путь к database -->
        <param name="database_path" value="$(arg db_path)"/>
        
        <!-- Параметры синхронизации сообщений -->
        <param name="approx_sync" value="true"/>
        <param name="queue_size" value="10"/>
        
        <!-- Режим локализации или картирования -->
        <param if="$(arg local)" name="Mem/IncrementalMemory" value="false"/>
        <param unless="$(arg local)" name="Mem/IncrementalMemory" value="true"/>
        
        <!-- Параметры rtabmap -->
        <param name="Rtabmap/DetectionRate" value="10"/>
        <param name="Grid/RayTracing" value="true"/>
        <param name="Grid/FromDepth" value="false"/>
        <param name="Grid/MaxObstacleHeight" value="1.5"/>
        <param name="Grid/MaxGroundHeight" value="0.01"/> <!-- Должно быть отлично от нуля -->
        <param name="Grid/3D" value="false"/>
    </node>

</launch>

