<launch>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom2lidar_odom" args="0 0 0 0 0 0 1 odom lidar_odom" />

  <node pkg="robot_localization" type="ukf_localization_node" name="odometry_fusion" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/husky_mipt_odometry_fusion.yaml" />
    <remap from="odometry/filtered" to="/fused_odom"/>
  </node>

</launch>
