<launch>
  <arg name="without_imu" default="true" />
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="base2laser" args="0 0 0 0 0 0 1 base_link laser" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser2hdl32" args="0 0 0 0 0 0 1 laser velodyne" />

  <node pkg="alego" type="IP" name="IP" output="log">
    <remap from="/lslidar_point_cloud" to="/velodyne_points" />
  </node>

  <node pkg="alego" type="LO" name="LO" output="log">
    <remap from="/imu/data" to="/imu_not_used" if="$(arg without_imu)"/>
    <remap from="/imu/data" to="/xsens/imu/data_not_used" unless="$(arg without_imu)"/>
    <remap from="/odom/imu" to="/husky_velocity_controller/odom_not_used" />
  </node>

  <node pkg="alego" type="LM" name="LM" output="log" />

</launch>
